--find-links https://data.pyg.org/whl/torch-2.6.0+cu124.html
torch==2.6.0+cu124
torchvision
torchaudio
torch_geometric
torch_sparse
torch_scatter
torch_cluster
torch_spline_conv
scipy
numpy
tqdm
lmdb
git+https://github.com/phungbminh/ogb.git@master#egg=ogb
cudf
cugraph
cupy